# Date and Time data type

## Working with Dates in Python

In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import date

In [5]:
d = date.today()

In [6]:
d

datetime.date(2020, 6, 23)

In [7]:
d.day

23

In [8]:
d.month

6

In [9]:
d.year

2020

## DateTime in Python
datetime is a class and an objec in Python's DateTime module just like date

In [32]:
from datetime import datetime
#current date 
#datetime stores both the date and time down to microseconds
now = datetime.now()

In [33]:
now

datetime.datetime(2020, 6, 23, 10, 0, 23, 455469)

## Processing Timestamp

In [13]:
now.year

2020

In [14]:
now.month

6

In [15]:
now.day

23

In [18]:
now.weekday() # get week day 0-6

1

In [19]:
now.minute

50

In [20]:
now.hour

9

In [21]:
now.second

7

In [23]:
now.isoweekday()

2

## timedelta
timmedelta is mainly used to add or subtract time from datetime object.
datetime +- timedelta(weeks = 0,days = 0,hourse = 0,minutes = 0,seconds = 0) where datetime is datetime object

In [34]:
date = datetime.now()
date

datetime.datetime(2020, 6, 23, 10, 0, 31, 949278)

In [36]:
from datetime import timedelta
date+timedelta(days = 3)

datetime.datetime(2020, 6, 26, 10, 0, 31, 949278)

In [37]:
date - timedelta(weeks = 1,days = 2)

datetime.datetime(2020, 6, 14, 10, 0, 31, 949278)

In [45]:
delta = datetime(2020,1,20) - datetime(2019,1,20)
delta

datetime.timedelta(days=365)

In [46]:
delta.days

365

In [47]:
delta.seconds

0

In [48]:
delta.resolution

datetime.timedelta(microseconds=1)

## Converting between String and Datetime
%a --> shorthand days name like :sun,mon,tue etc
%A --> complete days name like :sunday,monday etc
%b --> shorthand months name like:jan,feb,mar etc
%B --> Complete months name like : January,Februaru etc
%y -->two digits year like :99,98 etc
%Y --> four digits year like : 2020,2021 etc
%H --> Hour(24-hour)
%I -->Hour(12-hour)
%S -->Second[00,61]

In [52]:
t = '2020|06|23'
t

'2020|06|23'

In [50]:
type(t)

str

In [53]:
datetime.strptime(t,'%Y|%m|%d')

datetime.datetime(2020, 6, 23, 0, 0)

In [54]:
d = '23,06,2020'
d

'23,06,2020'

In [59]:
datetime.strptime(d,'%d,%m,%Y')

datetime.datetime(2020, 6, 23, 0, 0)

In [64]:
d = 'sun,feb,2020'

In [65]:
datetime.strptime(d,'%a,%b,%Y')

datetime.datetime(2020, 2, 1, 0, 0)

In [66]:
d = 'Sunday,January,99'

In [67]:
datetime.strptime(d,'%A,%B,%y')

datetime.datetime(1999, 1, 1, 0, 0)

In [72]:
dates = ['2011-07-06 12:00:00','2011-08-06 00:00:00']
x = pd.to_datetime(dates)
print(x)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

## Time Series Basics

In [73]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,5),datetime(2011,1,10),datetime(2011,1,12)]

In [74]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [77]:
#making the dates as index of a series
ts = pd.Series(np.random.randint(10,20,5),index = dates)

In [78]:
ts

2011-01-02    12
2011-01-05    13
2011-01-05    11
2011-01-10    14
2011-01-12    12
dtype: int32

In [79]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-05', '2011-01-10',
               '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [81]:
#We can access the data by the date
ts.loc['2011-01-02']

12

### Working on indexed time series

In [82]:
ts[:-1]

2011-01-02    12
2011-01-05    13
2011-01-05    11
2011-01-10    14
dtype: int32

In [84]:
ts[-4:]

2011-01-05    13
2011-01-05    11
2011-01-10    14
2011-01-12    12
dtype: int32

In [85]:
ts[::2]

2011-01-02    12
2011-01-05    11
2011-01-12    12
dtype: int32

### like other series, arithmetic operations between differently indexed time series automatically align on the dates

## Indexing,Selection,Subsetting

In [87]:
ts = pd.Series(np.random.randint(10,100,1000),index = pd.date_range('2020-01-01',periods = 1000))